#grid{
    border: 5px solid black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin : -3px;
    width: 100%;
    @media(max-width :1450px){
        #grid {
            display: block;
        }
        #grid ol {
            border-right: none;
        }
        h1 {
            border-bottom: none;
        }

    }
    
    
 }
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;}
    ol {
        width: 100px;
        margin: 0;
        padding: 20px;
    }
    img{margin: 4px;
        border:2px solid black;}